<!-- Form for adding a new task -->
<form class="form-inline form-add-task">
    <!-- Severity -->
    <select class="form-control task-severity" [(ngModel)]="taskToCreate.severity" [ngModelOptions]="{standalone: true}" [required]="taskToCreateIsInvalid">
        <option value="" selected disabled hidden>Choose severity</option>
        <option *ngFor="let sev of [1,2,3,4]" [value]="sev">Severity {{sev}}</option>
    </select>
    <!-- Text -->
    <input type="text" class="form-control task-text" [(ngModel)]="taskToCreate.text" [ngModelOptions]="{standalone: true}" placeholder="Enter task text here"
            [required]="taskToCreateIsInvalid">
    <!-- Create button -->
    <button class="form-control btn btn-success" id="btnCreateTask" (click)="createTask()">Create task</button>
</form>


<!-- Table - list of tasks -->
<table id="tasksTable" class="table table-striped table-hover table-tasks">
    <caption></caption>
    <thead>
        <tr class="active">
            <th id="taskSeverityTh">Severity</th>
            <th id="taskTextTh">Task</th>
            <th id="taskActionsTh">Actions</th>
            <th id="taskCompletedTh">Completed</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let task of tasks" class="table-task-row">

            <!-- Severity -->
            <td class="col-xs-2">
                <span *ngIf="!task.editing">
                    {{task.severity}}
                </span>

                <select *ngIf="task.editing" class="form-control" [(ngModel)]="tempTask[task._id].severity" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let sev of [1,2,3,4]" [value]="sev">
                        Severity {{sev}}</option>
                </select>
            </td>

            <!-- Text -->
            <td class="col-xs-5">
                <span *ngIf="!task.editing">
                    <s *ngIf="task.completed" class="taskText">{{task.text}}</s>
                    <span *ngIf="!task.completed" class="taskText">{{task.text}}</span>
                </span>

                <textarea *ngIf="task.editing" [(ngModel)]="tempTask[task._id].text" [ngModelOptions]="{standalone: true}" class="form-control" rows="1" ng-keydown="ctrlEnter_SaveEditTask($event, task)"></textarea>
            </td>

            <!-- Buttons -->
            <td class="col-xs-3">
                <span *ngIf="!task.editing">
                    <button class="btn btn-info" (click)="editTask(task)">Edit</button>
                    <button class="btn btn-danger" (click)="deleteTask(task)">Delete</button>
                </span>

                <span *ngIf="task.editing">
                    <button class="btn btn-primary" (click)="saveEditTask(task)">Save</button>
                    <button class="btn btn-default" (click)="cancelEditTask(task)">Cancel</button>
                </span>
            </td>

            <!-- Completed check -->
            <td class="col-xs-2">
                <input type="checkbox" [(ngModel)]="task.completed" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeCompleteState(task)">
            </td>
        </tr>
    </tbody>
</table>