<!-- Current tasks panel (left) -->
<div style="display: inline-block; width: 45%">
    <h1> Your current tasks
    <br>
    <span style="font-size: 24px">
        (you have {{tasks | elemInObjsEqualsToCount: 'completed':false}} uncompleted at all)
    </span>
    </h1>

    <div class="main-page-tasks">
        <div *ngFor="let task of (tasks | objsVariableEqualsTo: 'completed':false | objsWithMinVariable: 'severity')" class="main-page-task">
            <span [ngClass]="{
                    'main-page-task-sev1': task.severity === 1,
                    'main-page-task-sev2': task.severity === 2,
                    'main-page-task-sev3': task.severity === 3,
                    'main-page-task-sev4': task.severity === 4
            }">{{task.text}}<span *ngIf="task.completed"> (completed)</span></span>
        </div>
    </div>

    <br>
    <!-- Redirect button (to '/tasklist' page) -->
    <a href="#/tasklist" id="btnManageTasks" class="btn btn-success">Manage tasks</a>
</div>

<!-- Date panel (right) -->
<div class="date-div" style="float:right; width: 45%; text-align: right;">
    <span class="date-week">{{date | date:'EEEE'}}</span>
    <span class="date-date">{{date | date:'dd.MM.yyyy'}}</span>
    <span class="date-time">{{date | date:'HH:mm:ss'}}</span>
</div>
